th {
  background: #f4f5f7;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  /* or 100% */

  /* display: flex;
align-items: center; */

  /* Nitro Gray 600 */

  color: #4b5563;
}

.logo {
  border: 1px solid #f4f5f7;
}

td {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.success {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  background: #def7ec;
  color: #03543f;
  border-radius: 20px;
  padding: 4px 12px;
}

.upcoming {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  background: #fef3c7;
  color: #92400f;
  border-radius: 20px;
  padding: 4px 12px;
}

.failed {
  background: #fde2e1;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #981b1c;
  border-radius: 20px;
  padding: 4px 12px;
}

.paginate {
  float: right;
}
.table-data {
  border: 1px solid #e4e4e7;
}

.pagination {
  width: 40px;
  height: 40px;
  left: 957px;
  top: 880px;

  border: 1px solid #e4e4e7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.leftBtn {
  height: 40px;
  border: 1px solid #e5e5e5;
  width: 150px;
  padding: 8px;
  font-weight: 400;
}
